In [12]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [14]:
#缺失值填入字串'others'
temp_data=q_df.fillna('Other')
temp_data

      Sex Profession
0    male    teacher
1    male   engineer
2  female      Other
3  female   engineer

In [17]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
pf=pd.get_dummies(temp_data[['Profession']])
df=pd.concat([temp_data,pf],axis=1)
print(df)
print('使用get_dummies，因為職業沒有順序性')

      Sex Profession  Profession_Other  Profession_engineer  \
0    male    teacher                 0                    0
1    male   engineer                 0                    1
2  female      Other                 1                    0
3  female   engineer                 0                    1

   Profession_teacher
0                   1
1                   0
2                   0
3                   0
使用get_dummies，因為職業沒有順序性